@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.listHeader {
  text-decoration: underline;
  flex: 6;
}

.addButton {
  flex: 1;
}

.listItem {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
}

.itemImage {
  border-radius: 50%;
  width: 185px;
  height: 185px;
  margin-bottom: 15px;
}

.itemDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mb15 {
  margin-bottom: 15px;
}

.mr10 {
  margin-right: 10px;
}

/* Nav */

#nav {
  font-weight: bold;
  background-color: #000000;
  margin-bottom: 25px;
}

#nav img {
  width: 50px;
  height: 50px;
}

#nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

/* Home */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home img {
  width: 250px;
  height: 250px;
}

@media (max-width: 1025px) {
  .listItem {
    width: 40%;
    padding-bottom: 15px;
    margin: inherit auto;
  }
}

@media (max-width: 660px) {
  .flex {
    display: block;
    margin: inherit auto;
    text-align: center;
  }

  .listItem {
    width: 100%;
    padding-bottom: 15px;
    margin: inherit auto;
  }
}
